*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: lightgray;
    padding: 10px;
}
.todoApp{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todoApp h2{
    width: 90%;
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todoApp h2 img{
    width: 30px;
    margin-left: 10px;
    color: #0396fc;
}
#row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    overflow: hidden;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: darkgray;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li, .li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    /* height: 0.2px; */
}
ul li::before{
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    content: "\2610";
    background-size: cover;
    background-position: center;
    top: 17px;
    left: 8px;
}
ul li input{
    cursor: pointer;
    width: 75%;
    margin-top: 0;
    /* border-radius: 0%; */
}
ul li input:focus{
    background: #edeef0;
}
.checked{
    color: #555;
    text-decoration: line-through;
}
.checked::before{
    content: "\2611";
}
b{
    font-family: wingdings;
    position: absolute;
    right: 43px;
    top: 11px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    font-weight: 600;
}
span{
    position: absolute;
    right: 0;
    top: 11px;
    width: 40px;
    height: 40px;
    font-size: 25px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover, b:hover{
    background: #edeef0;
}
@media (max-width:400px) {
    .row{
        max-width: 250px;
    }
    button{
        padding: 16px 25px;
    }
}